@using TotalBase.Enums;

@{Layout = "~/Views/Shared/_LayoutPopup.cshtml";}

@model TotalPortal.Areas.Accounts.ViewModels.ReceiptViewModel

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.Partial("~/Views/Helpers/Bases/_BaseSectionTop.cshtml")

    @Html.HiddenFor(model => model.ReceiptID);

    @Html.HiddenFor(model => model.ReceiptTypeID);
    @Html.HiddenFor(model => model.MonetaryAccountID);

    @Html.HiddenFor(model => model.GoodsIssue.GoodsIssueID);
    @Html.HiddenFor(model => model.GoodsIssue.Reference);
    @Html.HiddenFor(model => model.GoodsIssue.EntryDate);
    @Html.HiddenFor(model => model.GoodsIssue.ReceiverCode);
    @Html.HiddenFor(model => model.GoodsIssue.ReceiverName);

    @Html.HiddenFor(model => model.Customer.CustomerID);
    @Html.HiddenFor(model => model.Customer.Code);
    @Html.HiddenFor(model => model.Customer.Name);
    @Html.HiddenFor(model => model.Customer.VATCode);
    @Html.HiddenFor(model => model.Customer.Telephone);
    @Html.HiddenFor(model => model.Customer.BillingAddress);
    @Html.HiddenFor(model => model.Customer.EntireTerritoryEntireName);
    @Html.HiddenFor(model => model.Customer.SalespersonID)
    @Html.HiddenFor(model => model.Customer.SalespersonName)

    @Html.HiddenFor(model => model.Cashier.EmployeeID);
    @Html.HiddenFor(model => model.Cashier.Name);

    @(Html.Kendo().TabStrip()
        .HtmlAttributes(new { @style = "height: 468px; margin-left: 0px; margin-right: 0px;" })
        .Name("tabStrip")
        .Items(tabStrip =>
        {
            tabStrip.Add().Text("Chọn phiếu xuất kho")
                .Selected(true)
                .Content(@<text>
                    @Html.Partial("~/Areas/Accounts/Views/Receipts/_GetGoodsIssueReceivable.cshtml")
                </text>);

            tabStrip.Add().Text("Chọn nhà khách hàng")
                .Content(@<text>
                    @Html.Partial("~/Areas/Accounts/Views/Receipts/_GetCustomerReceivable.cshtml")
                </text>);
        })
    )


    <div class="background-bar" style="height: 45px;">
        <div class="popup-button-bar">
            <input id="submitCreateWizard" type="submit" formaction="@Url.Action("CreateWizard", "Receipts")" formtarget="_top" style="display:none" />
            <input id="submitCreateReceipt" type="submit" formaction="@Url.Action("CreateReceipt", "Receipts")" formtarget="_self" style="display:none" />

            <button type="button" class="k-button" onclick="okButton_Click(@GlobalReceiptTypeID.ApplyCredit)"> <img src="~/Content/Images/Mains/Size24/Ok-1.png" /> Lập phiếu cấn trừ công nợ </button>
            <button type="button" class="k-button" onclick="okButton_Click()"> <img src="~/Content/Images/Mains/Size24/Accept-Total.png" /> Lập phiếu thu </button>
            <button type="button" class="k-button" onclick="window.parent.$('#myWindow').data('kendoWindow').close()"> <img src="~/Content/Images/Mains/Size24/Users-Exit-icon-24.png" /> Thoát </button>
        </div>
    </div>


}

<link href="@Url.Content("~/Content/CustomCss/GeneralPopup.css")" rel="stylesheet" type="text/css" />


<script type="text/javascript">
    function okButton_Click(receiptTypeID) {
        handleOKEvent(receiptTypeID, $("#tabStrip").data("kendoTabStrip").select().index());
    }

    function handleOKEvent(receiptTypeID, tabIndex) {
        if (tabIndex === undefined)
            _setModelInput();
        else {
            var selectedGrid = $(tabIndex === 0 ? "#goodsIssueReceivableGrid" : "#customerReceivableGrid").data("kendoGrid");
            var selectedDataItem = selectedGrid.dataItem(selectedGrid.select());
            if (selectedDataItem === null)
                return false;

            _setModelInput(selectedDataItem);
        }
        
        $(receiptTypeID == "@GlobalReceiptTypeID.ApplyCredit" ? "#submitCreateReceipt" : "#submitCreateWizard").trigger("click");


        function _setModelInput(selectedDataItem) {
            
            $("#ReceiptTypeID").val(receiptTypeID == "@GlobalReceiptTypeID.ApplyCredit" ? "@GlobalReceiptTypeID.ApplyCredit" : "@GlobalReceiptTypeID.ReceiveMoney");
            $("#MonetaryAccountID").val(receiptTypeID == "@GlobalReceiptTypeID.ApplyCredit" || selectedDataItem === undefined || selectedDataItem.MonetaryAccountID === undefined ? null : selectedDataItem.MonetaryAccountID);
            
            $("#GoodsIssue_GoodsIssueID").val(selectedDataItem === undefined || selectedDataItem.GoodsIssueID === undefined ? null : selectedDataItem.GoodsIssueID);
            $("#GoodsIssue_Reference").val(selectedDataItem === undefined || selectedDataItem.GoodsIssueReference === undefined ? null : selectedDataItem.GoodsIssueReference);
            $("#GoodsIssue_EntryDate").val(selectedDataItem === undefined || selectedDataItem.GoodsIssueEntryDate === undefined ? null : kendo.toString(selectedDataItem.GoodsIssueEntryDate, SettingsManager.DateFormat));
            $("#GoodsIssue_ReceiverCode").val(selectedDataItem === undefined || selectedDataItem.GoodsIssueID === undefined || selectedDataItem.ReceiverCode === undefined ? null : selectedDataItem.ReceiverCode);
            $("#GoodsIssue_ReceiverName").val(selectedDataItem === undefined || selectedDataItem.GoodsIssueID === undefined || selectedDataItem.ReceiverName === undefined ? null : selectedDataItem.ReceiverName);

            $("#Customer_CustomerID").val(selectedDataItem === undefined ? null : selectedDataItem.CustomerID);
            $("#Customer_Code").val(selectedDataItem === undefined ? null : selectedDataItem.CustomerCode);
            $("#Customer_Name").val(selectedDataItem === undefined ? null : selectedDataItem.CustomerName);
            $("#Customer_VATCode").val(selectedDataItem === undefined ? null : selectedDataItem.CustomerVATCode);
            $("#Customer_Telephone").val(selectedDataItem === undefined ? null : selectedDataItem.CustomerTelephone);
            $("#Customer_BillingAddress").val(selectedDataItem === undefined ? null : selectedDataItem.CustomerBillingAddress);
            $("#Customer_EntireTerritoryEntireName").val(selectedDataItem === undefined ? null : selectedDataItem.CustomerEntireTerritoryEntireName);
        }
    }

</script>