@{Layout = "~/Views/Shared/_LayoutPopup.cshtml";}

@model TotalPortal.Areas.Accounts.ViewModels.AccountInvoiceViewModel

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.Partial("~/Views/Helpers/Bases/_BaseSectionTop.cshtml")

    @Html.HiddenFor(model => model.AccountInvoiceID);

    @Html.HiddenFor(model => model.PaymentTermID);

    @Html.HiddenFor(model => model.VATbyRow);
    @Html.HiddenFor(model => model.TradeDiscountRate);
    @Html.HiddenFor(model => model.VATPercent);
    
    @Html.HiddenFor(model => model.Description);
    @Html.HiddenFor(model => model.Remarks);

    @Html.HiddenFor(model => model.Customer.CustomerID);
    @Html.HiddenFor(model => model.Customer.Code);
    @Html.HiddenFor(model => model.Customer.Name);
    @Html.HiddenFor(model => model.Customer.VATCode);
    @Html.HiddenFor(model => model.Customer.Telephone);
    @Html.HiddenFor(model => model.Customer.BillingAddress);
    @Html.HiddenFor(model => model.Customer.EntireTerritoryEntireName);
    @Html.HiddenFor(model => model.Customer.SalespersonID)
    @Html.HiddenFor(model => model.Customer.SalespersonName)

    @Html.HiddenFor(model => model.Consumer.CustomerID);
    @Html.HiddenFor(model => model.Consumer.Code);
    @Html.HiddenFor(model => model.Consumer.Name);
    @Html.HiddenFor(model => model.Consumer.VATCode);
    @Html.HiddenFor(model => model.Consumer.Telephone);
    @Html.HiddenFor(model => model.Consumer.BillingAddress);
    @Html.HiddenFor(model => model.Consumer.EntireTerritoryEntireName);
    @Html.HiddenFor(model => model.Consumer.SalespersonID)
    @Html.HiddenFor(model => model.Consumer.SalespersonName)

    @Html.HiddenFor(model => model.Receiver.CustomerID);
    @Html.HiddenFor(model => model.Receiver.Code);
    @Html.HiddenFor(model => model.Receiver.Name);
    @Html.HiddenFor(model => model.Receiver.VATCode);
    @Html.HiddenFor(model => model.Receiver.Telephone);
    @Html.HiddenFor(model => model.Receiver.BillingAddress);
    @Html.HiddenFor(model => model.Receiver.EntireTerritoryEntireName);
    @Html.HiddenFor(model => model.Receiver.SalespersonID)
    @Html.HiddenFor(model => model.Receiver.SalespersonName)

    @Html.HiddenFor(model => model.GoodsIssue.GoodsIssueID);
    @Html.HiddenFor(model => model.GoodsIssue.Reference);
    @Html.HiddenFor(model => model.GoodsIssue.EntryDate);
    @Html.HiddenFor(model => model.GoodsIssue.CustomerCode);
    @Html.HiddenFor(model => model.GoodsIssue.CustomerName);

    @Html.HiddenFor(model => model.VATInvoiceSeries);

    @(Html.Kendo().TabStrip()
        .HtmlAttributes(new { @style = "height: 468px; margin-left: 0px; margin-right: 0px;" })
        .Name("tabStrip")
        .Items(tabStrip =>
        {
            tabStrip.Add().Text("Chọn phiếu xuất kho")
                .Selected(true)
                .Content(@<text>
                    @Html.Partial("~/Areas/Accounts/Views/AccountInvoices/_GetGoodsIssue.cshtml")
                </text>);

            tabStrip.Add().Text("Chọn đơn vị nhận hàng")
                    .Content(@<text>
                    @Html.Partial("~/Areas/Accounts/Views/AccountInvoices/_GetReceiver.cshtml")
                    </text>);

            tabStrip.Add().Text("Chọn khách hàng")
                .Content(@<text>
                    @Html.Partial("~/Areas/Accounts/Views/AccountInvoices/_GetConsumer.cshtml")
                </text>);
        })
    )


    <div class="background-bar" style="height: 45px;">
        <div class="popup-button-bar">
            <input id="submitCreateWizard" type="submit" formaction="@Url.Action("CreateWizard", "AccountInvoices")" formtarget="_top" style="display:none" />

            <button type="button" class="k-button" onclick="okButton_Click()"> <img src="~/Content/Images/Mains/Size24/Ok-1.png" /> Xuất hóa đơn khách hàng đang chọn </button>
            <button type="button" class="k-button" onclick="okWOSelectButton_Click()"> <img src="~/Content/Images/Mains/Size24/Accept-Total.png" /> Xuất hóa đơn tổng hợp chung của nhiều khách hàng </button>
            <button type="button" class="k-button" onclick="window.parent.$('#myWindow').data('kendoWindow').close()"> <img src="~/Content/Images/Mains/Size24/Users-Exit-icon-24.png" /> Thoát </button>
        </div>
    </div>
}

<link href="@Url.Content("~/Content/CustomCss/GeneralPopup.css")" rel="stylesheet" type="text/css" />


<script type="text/javascript">
    function okButton_Click() {
        handleOKEvent($("#tabStrip").data("kendoTabStrip").select().index());
    }

    function okWOSelectButton_Click() {
        handleOKEvent();
    }


    function handleOKEvent(tabIndex) {
        if (tabIndex === undefined)
            _setModelInput();
        else {
            var selectedGrid = $(tabIndex === 0 ? "#pendingGoodsIssueGrid" : (tabIndex === 1 ? "#pendingGoodsIssueReceiverGrid" : "#pendingGoodsIssueConsumerGrid")).data("kendoGrid");
            var selectedDataItem = selectedGrid.dataItem(selectedGrid.select());
            if (selectedDataItem === undefined || selectedDataItem === null)
                return false;

            _setModelInput(selectedDataItem);
        }
        $("#submitCreateWizard").trigger("click");


        function _setModelInput(selectedDataItem) {
            $("#GoodsIssue_GoodsIssueID").val(selectedDataItem === undefined || selectedDataItem.GoodsIssueID === undefined ? null : selectedDataItem.GoodsIssueID);
            $("#GoodsIssue_Reference").val(selectedDataItem === undefined || selectedDataItem.GoodsIssueReference === undefined ? null : selectedDataItem.GoodsIssueReference);
            $("#GoodsIssue_EntryDate").val(selectedDataItem === undefined || selectedDataItem.GoodsIssueEntryDate === undefined ? null : kendo.toString(selectedDataItem.GoodsIssueEntryDate, SettingsManager.DateFormat));
            $("#GoodsIssue_CustomerCode").val(selectedDataItem === undefined || selectedDataItem.GoodsIssueCustomerCode === undefined ? null : selectedDataItem.GoodsIssueCustomerCode);
            $("#GoodsIssue_CustomerName").val(selectedDataItem === undefined || selectedDataItem.GoodsIssueCustomerName === undefined ? null : selectedDataItem.GoodsIssueCustomerName);

            $("#PaymentTermID").val(selectedDataItem === undefined || selectedDataItem.PaymentTermID === undefined ? null : selectedDataItem.PaymentTermID);

            $("#TradeDiscountRate").val(selectedDataItem === undefined || selectedDataItem.TradeDiscountRate === undefined ? null : selectedDataItem.TradeDiscountRate);
            $("#VATPercent").val(selectedDataItem === undefined || selectedDataItem.VATPercent === undefined ? 10 : selectedDataItem.VATPercent); //IMPORTANT NOTE: NOW: 15-APR-2017: WHEN okWOSelectButton_Click => selectedDataItem === undefined => DEFAULT VATPercent WILL BE 10, SO THE PENDING GoodsIssue WITH VATPercent <> 10 WILL NEVER BE INVOICED. LATER: WE SHOULD IMPROVE THIS: TO ALLOW USER TO SELECT DIFFERENT VATPercent FROM A COMOBO LIST BEFORE CONTINUE 

            $("#Description").val(selectedDataItem === undefined || selectedDataItem.Description === undefined ? null : selectedDataItem.Description);
            $("#Remarks").val(selectedDataItem === undefined || selectedDataItem.Remarks === undefined ? null : selectedDataItem.Remarks);



            $("#Customer_CustomerID").val(selectedDataItem === undefined ? null : (selectedDataItem.ReceiverID != undefined ? selectedDataItem.ReceiverID : selectedDataItem.CustomerID));
            $("#Customer_Code").val(selectedDataItem === undefined ? null : (selectedDataItem.ReceiverCode != undefined ? selectedDataItem.ReceiverCode : selectedDataItem.CustomerCode));
            $("#Customer_Name").val(selectedDataItem === undefined ? null : (selectedDataItem.ReceiverName != undefined ? selectedDataItem.ReceiverName : selectedDataItem.CustomerName));
            $("#Customer_VATCode").val(selectedDataItem === undefined ? null : (selectedDataItem.ReceiverVATCode != undefined ? selectedDataItem.ReceiverVATCode : selectedDataItem.CustomerVATCode));
            $("#Customer_Telephone").val(selectedDataItem === undefined ? null : (selectedDataItem.ReceiverTelephone != undefined ? selectedDataItem.ReceiverTelephone : selectedDataItem.CustomerTelephone));
            $("#Customer_BillingAddress").val(selectedDataItem === undefined ? null : (selectedDataItem.ReceiverBillingAddress != undefined ? selectedDataItem.ReceiverBillingAddress : selectedDataItem.CustomerBillingAddress));
            $("#Customer_EntireTerritoryEntireName").val(selectedDataItem === undefined ? null : (selectedDataItem.ReceiverEntireTerritoryEntireName != undefined ? selectedDataItem.ReceiverEntireTerritoryEntireName : selectedDataItem.CustomerEntireTerritoryEntireName));




            $("#Consumer_CustomerID").val(selectedDataItem === undefined || selectedDataItem.CustomerID === undefined ? null : selectedDataItem.CustomerID);
            $("#Consumer_Code").val(selectedDataItem === undefined || selectedDataItem.CustomerCode === undefined ? null : selectedDataItem.CustomerCode);
            $("#Consumer_Name").val(selectedDataItem === undefined || selectedDataItem.CustomerName === undefined ? null : selectedDataItem.CustomerName);
            $("#Consumer_VATCode").val(selectedDataItem === undefined || selectedDataItem.CustomerVATCode === undefined ? null : selectedDataItem.CustomerVATCode);
            $("#Consumer_Telephone").val(selectedDataItem === undefined || selectedDataItem.CustomerTelephone === undefined ? null : selectedDataItem.CustomerTelephone);
            $("#Consumer_BillingAddress").val(selectedDataItem === undefined || selectedDataItem.CustomerBillingAddress === undefined ? null : selectedDataItem.CustomerBillingAddress);
            $("#Consumer_EntireTerritoryEntireName").val(selectedDataItem === undefined || selectedDataItem.CustomerEntireTerritoryEntireName === undefined ? null : selectedDataItem.CustomerEntireTerritoryEntireName);

            $("#Receiver_CustomerID").val(selectedDataItem === undefined || selectedDataItem.ReceiverID === undefined ? null : selectedDataItem.ReceiverID);
            $("#Receiver_Code").val(selectedDataItem === undefined || selectedDataItem.ReceiverCode === undefined ? null : selectedDataItem.ReceiverCode);
            $("#Receiver_Name").val(selectedDataItem === undefined || selectedDataItem.ReceiverName === undefined ? null : selectedDataItem.ReceiverName);
            $("#Receiver_VATCode").val(selectedDataItem === undefined || selectedDataItem.ReceiverVATCode === undefined ? null : selectedDataItem.ReceiverVATCode);
            $("#Receiver_Telephone").val(selectedDataItem === undefined || selectedDataItem.ReceiverTelephone === undefined ? null : selectedDataItem.ReceiverTelephone);
            $("#Receiver_BillingAddress").val(selectedDataItem === undefined || selectedDataItem.ReceiverBillingAddress === undefined ? null : selectedDataItem.ReceiverBillingAddress);
            $("#Receiver_EntireTerritoryEntireName").val(selectedDataItem === undefined || selectedDataItem.ReceiverEntireTerritoryEntireName === undefined ? null : selectedDataItem.ReceiverEntireTerritoryEntireName);
        }
    }

</script>