@using TotalPortal.Configuration

@model TotalDTO.Sales.DeliveryAdviceBoxDTO

@Html.HiddenFor(model => model.DeliveryAdviceID)
@Html.HiddenFor(model => model.EntryDate)
@Html.HiddenFor(model => model.Reference)

@if (@Model != null && @Model.DeliveryAdviceID != null && @Model.Reference != null && @Model.Reference != "")
{
    <div id="show-DeliveryAdviceBox">
        <div> @Html.DisplayFor(m => m.Reference) </div>
        <div> @Html.DisplayFor(m => m.EntryDate) </div>
    </div>
}


<style>
    #show-DeliveryAdviceBox {
        width: 143px;
        height: 100px;
        padding: 4px;
        padding-top: 20px;
        border-style: dotted;
        border-color: rgb(103, 175, 233);
        border-width: 1px;
        border-radius: 10em 0 5em 2em;
        box-shadow: 0 0 4px 4px rgb(184, 216, 236);
        background-color: burlywood;
        text-align: center;
    }
</style>