@using TotalModel.Models;
@using TotalPortal.Configuration;

@model TotalPortal.Areas.Sales.ViewModels.DeliveryAdviceViewModel

@(Html.Kendo().Grid<Promotion>()
    .Name("gridPromotion")
    .Columns(columns =>
    {
        columns.Bound(c => c.Code).Title("Mã khuyến mãi").Width(12);
        columns.Bound(c => c.Name).Title("Tên chương trình").Width(35);

        columns.Bound(c => c.DiscountPercent).Title("% CK").Width(5).HtmlAttributes(new { @class = "grid-number-column" }).Format("{0:n0}");
        columns.Bound(c => c.StartDate).Title("Ngày BĐ").Width(10).Format("{0:" + SettingsManager.DateFormat + "}");
        columns.Bound(c => c.EndDate).Title("Ngày KT").Width(10).Format("{0:" + SettingsManager.DateFormat + "}");
        columns.Bound(c => c.Remarks).Title("Ghi chú").Width(30);
    })
    .ToolBar(toolbar =>
        {
            toolbar.Template(@<text>
                <div class="toolbar" style="height: 168px; margin-top: 13px; margin-right: 13px;">
                    @Html.EditorFor(d => d.Customer, "AutoCompletes/CustomerBase", new { CustomerDescriptionHidden = "false", CustomerDisplayName = @Model.GetDisplayName(m => m.Customer) })
                    @Html.EditorFor(d => d.Receiver, "AutoCompletes/CustomerBase", new { CustomerDescriptionHidden = "true", CustomerDisplayName = @Model.GetDisplayName(m => m.Receiver), CustomerIcon = "Customer Red 24.png" })

                    @Html.EditorFor(d => d.ShippingAddress)

                    @Html.Partial("~/Views/Helpers/Commons/_PriceCategory.cshtml")

                    <div style="float: right; margin-top: -135px; text-align: center; width: 110px; height: 110px; ">
                        <div style="height: 90px; text-align: center; padding-left: 22px; padding-right: 22px; padding-top: 35px;">
                            <span> <img src="~/Content/Images/Mains/Blowout-Sale-icon-48.png" title="Áp dụng tổng hợp các chương trình khuyến mãi còn hiệu lực cho khách hàng này" /> </span>
                        </div>
                    </div>
                </div>
            </text>);
        })
        .Scrollable(s => s.Height(209))
        .DataSource(ds => ds.Ajax()
        .Read(read => read.Action("GetPromotionByCustomers", "PromotionAPIs", new { area = "Commons" }).Data("onGetPromotionByCustomers"))
        .ServerOperation(true))
        .Selectable()
)


<script type="text/javascript">
    function onGetPromotionByCustomers(e) {
        return {
            customerID: (($("#ShowDiscount").val() == 'True' || $("#Customer_ShowDiscount").val() == 'true')? $("#Customer_CustomerID").val() : 0)
        };
    }

    $("#Customer_CustomerID").change(function (e) {
        
        $("#gridPromotion").data("kendoGrid").dataSource.read();


        $("#PriceCategoryID").val($("#Customer_PriceCategoryID").val());
        $("#PriceCategoryCode").val($("#Customer_PriceCategoryCode").val());

        $("#Receiver_CustomerID").val($("#Customer_CustomerID").val());
        $("#Receiver_Code").val($("#Customer_Code").val());
        $("#Receiver_Name").val($("#Customer_Name").val());
        $("#Receiver_CodeAndName").val($("#Customer_TempCodeAndName").val());
        $("#Receiver_OfficialName").val($("#Customer_OfficialName").val());
        $("#Receiver_Birthday").val($("#Customer_Birthday").val());
        $("#Receiver_VATCode").val($("#Customer_VATCode").val());
        $("#Receiver_Telephone").val($("#Customer_Telephone").val());
        $("#Receiver_BillingAddress").val($("#Customer_BillingAddress").val());
        $("#Receiver_ShippingAddress").val($("#Customer_ShippingAddress").val());
        $("#Receiver_TerritoryID").val($("#Customer_TerritoryID").val());
        $("#Receiver_EntireTerritoryEntireName").val($("#Customer_EntireTerritoryEntireName").val());
        $("#Receiver_SalespersonID").val($("#Customer_SalespersonID").val());
        $("#Receiver_SalespersonName").val($("#Customer_SalespersonName").val());
        $("#Receiver_PriceCategoryID").val($("#Customer_PriceCategoryID").val());
        $("#Receiver_PriceCategoryCode").val($("#Customer_PriceCategoryCode").val());

        

        //Set display label
        $("#label_PriceCategoryCode").text($("#Customer_PriceCategoryCode").val());

        $("#Receiver_label_Telephone").text($("#Receiver_Telephone").val());
        $("#Receiver_label_VATCode").text($("#Receiver_VATCode").val());
        $("#Receiver_label_BillingAddress").text($("#Receiver_BillingAddress").val());
        $("#Receiver_label_EntireTerritoryEntireName").text($("#Receiver_EntireTerritoryEntireName").val());

        //Also remember last AutoComplete value for Receiver
        $("#Receiver_TempCodeAndName").val($("#Receiver_CodeAndName").val());

        initShippingAddress();
    })

    $("#Receiver_CustomerID").change(function (e) {
        initShippingAddress();
    })

    function initShippingAddress() {
        $("#ShippingAddress").val($("#Receiver_ShippingAddress").val() != "" ? $("#Receiver_ShippingAddress").val() : $("#Receiver_BillingAddress").val());
    }


    //At VCP DON'T ALLOW SELECT BY SINGLE PROMOTION
    //$("#gridPromotion").dblclick(function (e) {
    //    okButton_Click(); 
    //})

</script>