@using TotalPortal.Configuration;

@{Layout = "~/Views/Shared/_LayoutPopup.cshtml";}

@model TotalPortal.Areas.Sales.ViewModels.DeliveryAdviceViewModel

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.Partial("~/Views/Helpers/Bases/_BaseSectionTop.cshtml")

    @Html.HiddenFor(model => model.ShowDiscount);

    @Html.HiddenFor(model => model.HasSalesOrder)
    @Html.HiddenFor(model => model.SalesOrderID)
    @Html.HiddenFor(model => model.SalesOrderReference)
    @Html.HiddenFor(model => model.SalesOrderEntryDate)

    @Html.HiddenFor(model => model.PaymentTermID);

    @Html.HiddenFor(model => model.Salesperson.EmployeeID);
    @Html.HiddenFor(model => model.Salesperson.Name);

    @Html.HiddenFor(model => model.Promotion.PromotionID);
    @Html.HiddenFor(model => model.Promotion.Name);
    @Html.HiddenFor(model => model.Promotion.StartDate);
    @Html.HiddenFor(model => model.Promotion.EndDate);
    @Html.HiddenFor(model => model.Promotion.DiscountPercent);
    @Html.HiddenFor(model => model.Promotion.ControlFreeQuantity);
    @Html.HiddenFor(model => model.Promotion.ApplyToAllCustomers);
    @Html.HiddenFor(model => model.Promotion.ApplyToAllCommodities);
    @Html.HiddenFor(model => model.Promotion.Remarks);



    @(Html.Kendo().TabStrip()
        .HtmlAttributes(new { @style = "height: 468px; margin-left: 0px; margin-right: 0px;" })
        .Name("tabStrip")
        .Items(tabStrip =>
        {
            tabStrip.Add().Text("Khách hàng không có đơn hàng")
                .Selected(true)
                .Content(@<text>
                    @Html.Partial("~/Views/Helpers/Commons/_SearchCustomer.cshtml")
                </text>);

            tabStrip.Add().Text("Giao hàng theo đơn đặt hàng")
                .Content(@<text>
                    @Html.Partial("~/Areas/Sales/Views/DeliveryAdvices/_GetSalesOrder.cshtml")
                </text>);
            tabStrip.Add().Text("Giao hàng tổng hợp của nhiều đơn đặt hàng")
                    .Content(@<text>
                    @Html.Partial("~/Areas/Sales/Views/DeliveryAdvices/_GetCustomer.cshtml")
                    </text>);
        })
    )


    <div class="background-bar" style="height: 45px;">
        <div class="popup-button-bar">
            <input id="submitCreateWizard" type="submit" formaction="@Url.Action("CreateWizard", "DeliveryAdvices")" formtarget="_top" style="display:none" />

            @*<button type="button" class="k-button" onclick="okButton_Click()"> <img src="~/Content/Images/Mains/Size24/Ok-1.png" /> Áp dụng CTKM đang chọn </button>   //At VCP DON'T ALLOW SELECT BY SINGLE PROMOTION *@
            <button type="button" class="k-button" onclick="okWOSelectButton_Click()"> <img src="~/Content/Images/Mains/Size24/Accept-Total.png" /> Áp dụng tất cả CTKM </button>
            <button type="button" class="k-button" onclick="window.parent.$('#myWindow').data('kendoWindow').close()"> <img src="~/Content/Images/Mains/Size24/Users-Exit-icon-24.png" /> Thoát </button>
        </div>
    </div>

}

<link href="@Url.Content("~/Content/CustomCss/GeneralPopup.css")" rel="stylesheet" type="text/css" />

<script type="text/javascript">
    function okButton_Click() {
        if ($("#tabStrip").data("kendoTabStrip").select().index() === 0)
            handleOKEvent($("#gridPromotion").data("kendoGrid"));
        else //DON'T ALLOW TO CLICK WHEN HasSalesOrder
            return false;
    }

    function okWOSelectButton_Click() {
        handleOKEvent();
    }

    function handleOKEvent(promotionGrid) { //This javascript is now used only here. Later, if it is used somewhere else, it should be break into a standalone js file, and then just only add a link here

        var hasSalesOrder = $("#tabStrip").data("kendoTabStrip").select().index() === 0 ? false : true;

        if (hasSalesOrder == false) {
            if ($("#Customer_CustomerID").val() === null || $("#Customer_CustomerID").val() === "")
                return false;
            
            if (promotionGrid != undefined){
                var selectedPromotionItem = promotionGrid.dataItem(promotionGrid.select());
                if (selectedPromotionItem === undefined || selectedPromotionItem === null)
                    return false;
            }

            _setModelInput();
        }
        else {
            var selectedGrid = $($("#tabStrip").data("kendoTabStrip").select().index() === 1 ? "#deliveryAdvicePendingSalesOrderGrid" : "#deliveryAdvicePendingCustomerGrid").data("kendoGrid");
            var selectedDataItem = selectedGrid.dataItem(selectedGrid.select());
            if (selectedDataItem === undefined || selectedDataItem === null)
                return false;

            _setModelInput(selectedDataItem);
        }


        $("#submitCreateWizard").trigger("click");


        function _setModelInput(selectedDataItem) {

            $("#HasSalesOrder").val(hasSalesOrder);

            if (hasSalesOrder == false) {
                $("#PaymentTermID").val($("#Customer_PaymentTermID").val());

                $("#Salesperson_EmployeeID").val($("#Customer_SalespersonID").val()); //INIT DEFAULT Salesperson_EmployeeID, Salesperson_Name FROM Customer_SalespersonID, Customer_SalespersonName
                $("#Salesperson_Name").val($("#Customer_SalespersonName").val());
            }
            else {

            }

            $("#Promotion_PromotionID").val(selectedPromotionItem === undefined || selectedPromotionItem.PromotionID === undefined ? null : selectedPromotionItem.PromotionID);
            $("#Promotion_Name").val(selectedPromotionItem === undefined || selectedPromotionItem.Name === undefined ? null : selectedPromotionItem.Name);
            $("#Promotion_StartDate").val(selectedPromotionItem === undefined || selectedPromotionItem.StartDate === undefined ? null : kendo.toString(selectedPromotionItem.StartDate, SettingsManager.DateTimeFormat));
            $("#Promotion_EndDate").val(selectedPromotionItem === undefined || selectedPromotionItem.EndDate === undefined ? null : kendo.toString(selectedPromotionItem.EndDate, SettingsManager.DateTimeFormat));
            $("#Promotion_DiscountPercent").val(selectedPromotionItem === undefined || selectedPromotionItem.DiscountPercent === undefined ? null : selectedPromotionItem.DiscountPercent);
            $("#Promotion_ControlFreeQuantity").val(selectedPromotionItem === undefined || selectedPromotionItem.ControlFreeQuantity === undefined ? null : selectedPromotionItem.ControlFreeQuantity);

            $("#Promotion_ApplyToAllCustomers").val(selectedPromotionItem === undefined || selectedPromotionItem.ApplyToAllCustomers === undefined ? false : selectedPromotionItem.ApplyToAllCustomers);
            $("#Promotion_ApplyToAllCommodities").val(selectedPromotionItem === undefined || selectedPromotionItem.ApplyToAllCommodities === undefined ? false : selectedPromotionItem.ApplyToAllCommodities);

            $("#Promotion_Remarks").val(selectedPromotionItem === undefined || selectedPromotionItem.Remarks === undefined ? null : selectedPromotionItem.Remarks);
        }
    }

</script>





