@using TotalModel.Models;
@using TotalPortal.Configuration;

@{Layout = "~/Views/Shared/_LayoutPopup.cshtml";}

@model TotalDTO.Commons.CommodityCodePartABC


<div class="left-panel">
    <div style="padding: 16px;"> <img src="~/Content/Images/New/2017/Autodesk-Product-Design-Suite-icon-64.png" /> </div>
</div>

<div class="right-panel">
    <div class="form-group">
        @Html.EditorFor(d => d.CodePartA, new { SearchActionName = "GetCommodityCodePartA", CodePartLabel = @Model.GetDisplayName(m => m.CodePartA) })
        <div class="div-validation-message">
            @Html.ValidationMessageFor(model => model.CodePartA, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.EditorFor(d => d.CodePartB, new { SearchActionName = "GetCommodityCodePartB", CodePartLabel = @Model.GetDisplayName(m => m.CodePartB) })
        <div class="div-validation-message">
            @Html.ValidationMessageFor(model => model.CodePartB, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.EditorFor(d => d.CodePartC, new { SearchActionName = "GetCommodityCodePartC", CodePartLabel = @Model.GetDisplayName(m => m.CodePartC) })
        <div class="div-validation-message">
            @Html.ValidationMessageFor(model => model.CodePartC, "", new { @class = "text-danger" })
        </div>
    </div>

</div>

<div class="background-bar" style="height: 45px;">
    <div class="popup-button-bar">
        <button type="button" class="k-button" onclick="okButton_Click()"> <img src="~/Content/Images/Mains/Size24/Actions-bookmark-add-icon-24.png" /> Thêm vào CTKM</button>
        <button type="button" class="k-button" onclick="window.parent.$('#myWindow').data('kendoWindow').close();"> <img src="~/Content/Images/Mains/Size24/Users-Exit-icon-24.png" /> Đóng </button>
    </div>
</div>

<script type="text/javascript">
    function okButton_Click() {

        var deliveryAdviceGridDataSource = window.parent.$("#kendoGridDetails").data("kendoGrid").dataSource;
        if (deliveryAdviceGridDataSource != undefined && ($("#CodePartA_CodePart").val() != "" || $("#CodePartB_CodePart").val() != "" || $("#CodePartC_CodePart").val() != "")) {

            var dataRow = new Object();

            dataRow.PromotionCommodityCodePartID = 0;
            dataRow.PromotionID = window.parent.$("#PromotionID").val();

            dataRow.CommodityBrandID = null;
            dataRow.Remarks = null;
            dataRow.InActive = false;

            dataRow.CodePartA = $("#CodePartA_CodePart").val();
            dataRow.CodePartB = $("#CodePartB_CodePart").val();
            dataRow.CodePartC = $("#CodePartC_CodePart").val();

            var deliveryAdviceJSON = deliveryAdviceGridDataSource.data().toJSON();
            deliveryAdviceJSON.push(dataRow);

            deliveryAdviceGridDataSource.data(deliveryAdviceJSON);
        }
    }

</script>


<style>
    /*.right-first-panel {
        padding-right: 30px;
    }*/

    .right-panel {
        padding-top: 1px;
        padding-right: 17px;
    }

    .left-panel-input {
        width: 100%;
    }
</style>